<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ESNICheck: Check a hostname for Encrypted SNI support</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="tile is-parent">
            <article class="tile is-child">
              <a href="{{ url_for("landing") }}"><img src="{{ url_for('static', filename='esnicheck.svg') }}"/></a>
             </article>
          </div>
        </div>
        {% block content %}
        {% endblock %}
      </div>
    </section>
  </body>
</html>
