{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="columns is-centered">
  <div class="tile is-parent">
    <article class="tile is-child box notification is-info">
      <p class="subtitle is-4">Check if a hostname supports Encrypted Server Name Indication (ESNI):</p>
      <form method="post">
        <div class="field has-addons">
          <p class="control is-expanded">
            <input class="input" type="text" placeholder="cloudflare.com" name="hostname">
          </p>
          <p>
            <button class="button is-success" type="submit"> check </button>
          </p>
        </div>
      </form>
      <br>
      <p class="subtitle is-4"><a href={{ url_for("faq") }}>Frequently Asked Questions</a></p>
    </article>
  </div>
</div>

{% if data.websites %}
<article class="message is-success">
  <div class="message-body">
    <p class="subtitle is-4">{{ "%.2f"|format(data.percentage) }}% of the <a href="https://raw.githubusercontent.com/azadi/esnicheck/master/mostvisited/mostvisited.txt">top 250 most visited websites</a> in the world support ESNI:</p>
    <div class="content">
      <ol>
        {% for each in data.websites %}
        <li><a href={{ url_for("check", q=each) }}>{{ each }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
</article>
{% endif %}

<article class="message is-dark">
  <div class="message-body">
    <p class="subtitle is-6">API</p>
    <div class="content">
      <textarea class="textarea is-family-code is-dark is-size-7" rows="2" readonly>$ curl -X POST -H "Content-Type: application/json" -d '{"q":"cloudflare.com"}' https://esnicheck.com/check
{"has_esni":true}</textarea>
    </div>
  </div>
</article>

<div class="columns is-centered">
  <div class="tile is-parent">
    <article class="tile is-child has-text-centered">
      <p class="subtitle is-7">[ <a href="https://github.com/azadi/esnicheck/">source code</a> ]</p>
    </article>
  </div>
</div>
{% endblock %}
